extends layouts/_main.pug

block pageVariables
  - const title = 'My Title'

block content
  h1 Static Site

  p
    | Welcome to your static site.
  p.green
    | Your app.js is automagically included
  img(src="/images/2fast.png")
