doctype html
html(lang="en")
  head
    title Static Site
  body
    h1 Static Site

    p
      | Welcome to your static site.
    p.green
      | Your app.js is automagically included
    img(src="/images/2fast.png")
